.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: 50px auto 50px auto;
  text-align: center;
}

.avatar {
  display: block;
  padding-top: 10px;
  width: 100%;
  border-radius: 50% 50%;
}

.description,
.label {
  color: grey;
  font-size: 18px;
}

.name {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.stats {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style: none;
}
.item {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-bottom: none;
  background-color: beige;
}

.quantity {
  color: black;
}
